@import './variables.scss';

.theme--light {
  .v-card {
    background-color: map-get($material-light, 'card-background') !important;
  }
  .v-btn--is-elevated {
    box-shadow: unset;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
